.main__container {
    padding: 20px;
}

.training {
    text-align: center;
    background-color: #ffd17c ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.training__item {
    background-color: #f5eeca;
    border: 1px solid #f59f00;
    border-radius: 8px;
    padding: 15px;
    margin: 6px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.training__item:hover {
    transform: scale(1.05);
}

.training__image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.training__name {
    font-size: 18px;
    margin: 10px 0;
}

.training__link {
    text-decoration: none;
    color: #a18116b6;
    font-weight: bold;
}

.training__link:hover {
    text-decoration: underline;
}

.teachers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.teachers__title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
       background-color: #ffeb8a ;
       padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    }

.teachers__card {
    background-color: #f9f9f9;
    border: 1px solid #f59f00;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.teachers__card:hover {
    transform: scale(1.05);
}

.teachers__image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.teachers__name {
    font-size: 20px;
    margin: 10px 0;
}

.teachers__desc {
    font-size: 16px;
    color: #555;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #fff3e0;
    padding: 40px; 
    border-radius: 8px; 
}

.content__title {
    color: #ff6f20; 
    margin-bottom: 30px; 
}

.content__list {
    list-style-type: none; 
    padding: 0; 
}

.content__item {
    margin-bottom: 20px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
}

.content__item:nth-child(even) a {
    background-color: #ffe0b2; 
}

.content__item:nth-child(odd) a {
    background-color: #ffcc80;
}

.content__item a {
    text-decoration: none; 
    color: #ff8c00; 
    padding: 15px; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

.content__item a:hover {
    background-color: #ffab40;
}



.reviews {
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
}

.reviews__title {
    text-align: center; 
    margin-bottom: 20px; 
}

.review {
    flex: 1; 
    margin: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    background-color: #f1c489;
    min-width: 200px; 
}


.reviews-container {
    display: flex;
    justify-content: space-between; 
    overflow-x: auto; 
}


.review__name {
    font-weight: bold; 
}


.review__feedback {
    margin-top: 10px; 
}


.navigation {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}


.leftarrow__block, .rightarrow__block {
    margin: 0 10px; 
    cursor: pointer; 
}


.faq__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.faq {
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq__title {
    color: orange; 
    font-size: 28px;
    font-weight: bold; 
    margin-bottom: 20px; 
    text-align: center; 
}

.faq__item {
    margin-bottom: 15px; 
    padding: 15px; 
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
}

.faq__question {
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 10px;
}

.faq__answer {
    font-size: 16px; 
    color: #555555;
}


